.home-container {
  height: 80vh;
  width: 100%;
}

/* Section A of Home page */
.section-A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding-top: 2rem;
  background-image: url(./assets/Rectangle-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  gap: 3rem;
}

.section-A-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 25%;
}

.section-A-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 45%;
  width: 85%;
  height: 50%;
}

.section-A-middle-head-text {
  text-align: center;
  font-size: 6rem;
  color: whitesmoke;
  opacity: 90%;
  font-weight: 450;
  width: 90rem;
}

.section-A-middle-sub-text {
  text-align: center;
  font-size: 1.9rem;
  color: whitesmoke;
  opacity: 70%;
  font-weight: 450;
}

.section-A-bottom {
  width: 85%;
  height: 25%;
}


/* Section B of Home page */
.section-B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  gap: 2rem;
}

.section-B-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 25%;
  gap: 2rem;
}

.section-B-top-box1 {
  width: 45%;
  height: auto;
}

.section-B-top-box1-heading {
  font-size: 3.7rem;
  font-weight: 500;
  color: rgb(39, 39, 39);
}

.section-B-top-box2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  gap: .8rem;
}

.section-B-top-box2-paragraph {
  font-size: 1.8rem;
  color: rgb(59, 59, 59);
}

.section-B-top-box2-director {
  font-size: 1.9rem;
  font-weight: 500;
}

.section-B-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  width: 84%;
  min-height: 50%;
  gap: 2rem;
}

.image {
  background-color: grey;
  width: 100%;
  height: 95%;
}

.middle-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
  gap: 1.65rem;
}

.inner-images {
  width: 100%;
  height: 48%;
}

.inner-image {
  width: 100%;
  height: 100%;
}

.outer-image {
  width: 100%;
  height: 100%;
}

/* Section C of Home page */
.section-C {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 3rem;
}

.section-C-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 25%;
  gap: 2rem;
}

.section-C-top-info1 {
  display: flex;
  align-items: center;
  width: 40%;
  height: 45%;

}

.section-C-top-info1-heading {
  font-size: 3.5rem;
  font-weight: 450;
  color: rgb(39, 39, 39);
}

.section-C-top-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 45%;
}

.section-C-top-info2-button {
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 0.7rem;
  width: 80%;
  height: 80%;
  font-size: 1.5rem;
}

.line {
  width: 100%;
  height: .1rem;
  background-color: grey;
}

.section-C-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  gap: .5rem;
}

.section-C-bottom-info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  gap: 2.8rem;
}

.section-C-bottom-info1-img {
  background-color: grey;
  height: 90%;
  width: 35%
}

.section-C-bottom-images {
  width: 100%;
  height: 100%;
}

.section-C-bottom-info1-detail {
  background-color: grey;
  height: 90%;
  width: 59%
}

.section-C-bottom-info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  gap: 2.8rem;
}

.section-C-bottom-info2-img {
  background-color: blue;
  height: 90%;
  width: 35%
}

.section-C-bottom-info2-detail {
  background-color: grey;
  height: 90%;
  width: 59%
}

.section-C-bottom-info3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35%;
  gap: 2.8rem;
}

.section-C-bottom-info3-img {
  height: 90%;
  width: 35%
}

.section-C-bottom-info3-detail {
  background-color: grey;
  height: 90%;
  width: 59%
}

/* Section D of Home page */
.section-D {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 60vh;
  gap: 0.5rem;
}

.section-D-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 84%;
  height: 50%;
  gap: 0.5rem;
}

.section-D-top-info {
  width: 50%;
  height: 80%;
  background-color: blue;
}

.section-D-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: black;
}