.rooms-display {
  width: 100%;
  height: 100%;
}

.rooms-display-header {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding-top: 2rem;
  background-image: url(./assets/Rectangle-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  gap: 1rem;
}

.rooms-display-header-top {
  width: 85%;
  height: 30%;
}

.rooms-display-header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 85%;
  height: 50%;
}

.rooms-display-middle {
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
}

.rooms-display-last {
  background-color: aqua;
  width: 100%;
  height: 100vh;
}
