.rooms-display {
  width: 100%;
  height: 100%;
}

.rooms-display-header {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  padding-top: 2rem;
  background-image: url(./assets/Rectangle-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  gap: 1rem;
}

.rooms-display-header-top {
  width: 90%;
  height: 30%;
}

.rooms-display-header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 85%;
  height: 50%;
}

.rooms-display-header-bottom-categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: .7rem;
  width: 90%;
  height: 70%;
  background-color: black;
  opacity: 65%;
}

.rooms-display-header-bottom-categories-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 15%;
  height: 80%;
}

.rooms-display-header-bottom-categories-box-category {
  font-size: 1.3rem;
  color: whitesmoke;
}

.rooms-display-header-bottom-categories-box-category-hover {
  height: 2.5%;
  width: 50%;
  background-color: whitesmoke;
  opacity: 50%;
}

.rooms-display-header-bottom-categories-line {
  width: 100%;
  height: 1.5%;
  background-color: black;
  opacity: 50%;
}

.rooms-display-middle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.rooms-display-middle-cards {
  height: 100%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  row-gap: 2rem;
}

.room-display-card {
  width: 16.75rem;
  height: 21.125rem;
  background-color: aliceblue;
  border: 2px solid seagreen;
}

.rooms-display-last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;
}

.rooms-display-last-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35%;
  width: 75%;
  background-color: black;
}

.rooms-display-last-top-paragraph {
  width: 35%;
  height: auto;
  color: whitesmoke;
}

.rooms-display-last-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}

.rooms-display-last-middle-btn-navigation {
  width: 40%;
  height: 25%;
  background-color: red;
}

.rooms-display-last-bottom {
  height: 50%;
  width: 100%;
  background-color: red;
}